$orange-bg:orange;
$lightgreen-bg:lightgreen;
$lightred-bg:rgb(201, 17, 17);
$lightblue-bg:lightblue;
$violet-bg:violet;
$primary-color:#000;
$border-color:grey;
$cube-width:300px;
$padding:20px;
$img-width:50px;
$img-height:50px;
$border-radius:15px;
$fa-size:20px;
$p-color:rgb(167, 165, 165);

